<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Examples</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link href="/components/style/base.less" rel="stylesheet">
    
  </head>
<body>
    <header>
    	
    </header>
    <div id="content" >
    	
    </div>
    <footer>
    	
    </footer>
    <script data-single='true' src="/libs/seajs/sea.js" ></script>
    <script data-single='true' src="/component_modules/zepto/zepto.js" ></script>
    <script src="/component_modules/ucelf/lang.js" ></script>
    <script src="/component_modules/ucelf/router.js" ></script>
    <script src="/component_modules/ucelf/event.js" ></script>
    <script src="/components/main.js" ></script>
    <script type="text/javascript">
        seajs.use('main');
    </script>
</body>
</html>