<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Examples</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link href="http://localhost:9000/public/components/style/base.css" rel="stylesheet">
    
  </head>
<body>
    <header>
    	
    </header>
    <div id="content" >
    	
    </div>
    <footer>
    	
    </footer>
    <script data-single='true' src="http://localhost:9000/public/libs/seajs/sea.js" ></script>
    <script data-single='true' src="http://localhost:9000/public/components/zepto/zepto.js" ></script>
    <script src="http://localhost:9000/public/components/ucelf/lang.js" ></script>
    <script src="http://localhost:9000/public/components/ucelf/router.js" ></script>
    <script src="http://localhost:9000/public/components/ucelf/event.js" ></script>
    <script src="http://localhost:9000/public/components/main.js" ></script>
    <script type="text/javascript">
        seajs.use('main');
    </script>
</body>
</html>